#footer {
  background:#FFFFFF;
  border-top:1px solid #DDDDDD;
  bottom:0px;
  display:table;
  padding:1em 0em;
  position:fixed;
  width:calc(100% - 10%);
}
#footer > div {
  display:table-cell;
  width:auto;
}
#footer > div:first-child * {
  display:inline-block;
}
#footer > div:first-child nav > a + a:before {
  content:'\e800';
  line-height:0.5em;
}
#footer > div:last-child {
  text-align:right;
}