#header {
  background:#FFFFFF;
  border-bottom:1px solid #DDDDDD;
  display:table;
  padding:1em 0em;
  position:fixed;
  top:0px;
  width:calc(100% - 10%);
  z-index:65535; 
}
#header div {
  display:table-cell;
}
#header > div:last-child {
  text-align:right;
}
#header div:first-child a:first-child {
  color:#DD0000;
  font:bold 1.75rem verdana-bold;
  text-transform:uppercase;
}
#header div:first-child a:first-child:hover {
  color:#DD0000!important;
}
#header div:first-child a:first-child:active {
  color:#DD0000!important;
}
#header div a + a {
  margin-left:2em;
}